#theme-toggle {
  position: absolute;
  display: grid;
  place-content: center;
  min-height: 100%;
  top: -0.2rem;
  right: 5%;
  cursor: pointer;
  font-size: 1.5rem;
  width: max-content;
  height: max-content;
}

#theme-toggle.fa-moon {
  /* animation: glow 1s ease-in-out infinite alternate; */
}

#theme-toggle.fa-sun {
  color: var(--white);
  animation: spin 10s infinite linear;
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

@media (max-width: 768px) {
  #theme-toggle {
    top: 0rem;
  }
}

body[data-theme="dark"] {
  --purple: #261c2c;
}

body[data-theme="dark"] .glowtext {
  text-shadow: 0 0 0.033em #fff, 0 0 0.08em #fff, 0 0 0.1em #363062,
    0 0 0.2em #363062, 0 0 0.3em #363062, 0 0 1em #363062, 0 0 1.5em #363062;
}

body[data-theme="dark"] .glowtext .flicker {
  -webkit-animation: flicker 3s linear infinite alternate forwards;
  animation: flicker 3s linear infinite alternate forwards;
}

@keyframes flicker {
  0%,
  19.99%,
  22%,
  62.99%,
  64%,
  64.99%,
  72%,
  to {
    opacity: 1;
  }
  20%,
  21.99%,
  63%,
  63.999%,
  65%,
  71.99% {
    opacity: 0.4;
  }
}

body[data-theme="light"] {
  background: var(--white);
  color: var(--purple);
}

body[data-theme="light"] h1,
body[data-theme="light"] h2,
body[data-theme="light"] span,
body[data-theme="light"] p {
  color: var(--purple);
}

body[data-theme="dark"] .skill-icons,
body[data-theme="dark"] .skill .marquee:before,
body[data-theme="dark"] .skill .marquee:after {
  background: transparent;
}

body[data-theme="dark"],
body[data-theme="dark"] header nav .menu ul,
body[data-theme="dark"] .aboutme .card {
  background: var(--purple);
  color: var(--white);
}

body[data-theme="dark"] header nav .menu #burger .bar {
  background: var(--white);
}

body[data-theme="dark"] header {
  background: var(--purple);
  color: var(--white);
}

body[data-theme="dark"] h1,
body[data-theme="dark"] h2,
body[data-theme="dark"] p,
body[data-theme="dark"] span,
body[data-theme="dark"] header nav a,
body[data-theme="dark"] header nav .logo,
body[data-theme="dark"] section .arrow-down {
  color: var(--white);
}

body[data-theme="dark"] .arrow-down {
  background-color: #222;
}

body[data-theme="dark"] .arrow-down > .arrow {
  background-color: var(--white);
}

body[data-theme="dark"] .about-bottom a {
  color: var(--secondary-light-color);
}

@keyframes glow {
  from {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 5px #e60073, 0 0 40px #e60073,
      0 0 50px #e60073;
    /* 0 0 60px #e60073, 0 0 70px #e60073,
      0 0 80px #e60073, 0 0 90px #e60073; */
  }
  to {
    text-shadow: 0 0 10px #fff, 0 0 20px #ff4da6, 0 0 10px #ff4da6,
      0 0 50px #ff4da6, 0 0 60px #ff4da6;
    /* 0 0 70px #ff4da6, 0 0 80px #ff4da6,
      0 0 90px #ff4da6, 0 0 100px #ff4da6; */
  }
}

/* body[data-theme="dark"] .blurry__animate{
  visibility: hidden;
} */
