/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import url("https://fonts.googleapis.com/css?family=Euphoria+Script&display=swap"); */
/* @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@700&display=swap');

/* fancy fonts  */
/* @import url('https://fonts.cdnfonts.com/css/sofia-pro'); */
/* @import url('https://fonts.cdnfonts.com/css/futura-std-4'); */

/* serif font */
/* @import url('https://fonts.cdnfonts.com/css/recoleta');  */

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

html,body{
    scroll-padding-top: 5rem;
}


:root{
    --text1-width: 0;
    --text2-width: 0;
    --primary-color: #363062;
    --secondary-color: #4d4c7d;
    --light-color: #827397;
    --secondary-light-color: #d8b9c3;
    --white : #fff;
    --black: #242427;
    --box-shadow:  1px 0px 7px rgba(68, 68, 68, 0.6);
    --box-shadow-multi: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
                        0 6.7px 5.3px rgba(0, 0, 0, 0.048),
                        0 12.5px 10px rgba(0, 0, 0, 0.06),
                        0 22.3px 17.9px rgba(0, 0, 0, 0.072),
                        0 41.8px 33.4px rgba(0, 0, 0, 0.086),
                        0 100px 80px rgba(0, 0, 0, 0.12);
    --primary-font: sans-serif;
    --base-margin: 15px; 
    --main-font: 'Jost','Sofia Pro','Inter','Poppins', sans-serif;
    --narrow-font: 'Jost','Sofia Pro','Poppins', sans-serif;
    --serif-font: 'Lora','Jost','Josefin Slab','Recoleta', var(--main-font);
    --cursive-font : 'Euphoria Script', var(--main-font);
    --blurry-object-hw: 200px; 
    --blurry-object-blur: blur(5rem); 
    --blurry-object-opacity: 0.6; 
}

.font-bold{
  font-weight: 800;
}

.serif{
  font-family: var(--main-font);
  font-weight: 700;
}

input[type=email]:-internal-autofill-selected{
  background: var(--primary-color) !important;
}



.p1{ padding: 1rem;}
.p2{ padding: 2rem;}
.p3{ padding: 3rem;}
.p4{ padding: 4rem;}
.p5{ padding: 5rem;}
.pt1{ padding-top: 1rem;}
.pt2{ padding-top: 2rem;}
.pt3{ padding-top: 3rem;}
.pt4{ padding-top: 4rem;}
.pt5{ padding-top: 5rem;}
.pr1{ padding-right: 1rem;}
.pr2{ padding-right: 2rem;}
.pr3{ padding-right: 3rem;}
.pr4{ padding-right: 4rem;}
.pr5{ padding-right: 5rem;}
.pl1{ padding-left: 1rem;}
.pl2{ padding-left: 2rem;}
.pl3{ padding-left: 3rem;}
.pl4{ padding-left: 4rem;}
.pl5{ padding-left: 5rem;}
.pb1{ padding-bottom: 1rem;}
.pb2{ padding-bottom: 2rem;}
.pb3{ padding-bottom: 3rem;}
.pb4{ padding-bottom: 4rem;}
.pb5{ padding-bottom: 5rem;}
.m1{ margin: 1rem;}
.m2{ margin: 2rem;}
.m3{ margin: 3rem;}
.m4{ margin: 4rem;}
.m5{ margin: 5rem;}
.mt1{ margin-top: 1rem;}
.mt2{ margin-top: 2rem;}
.mt3{ margin-top: 3rem;}
.mt4{ margin-top: 4rem;}
.mt5{ margin-top: 5rem;}
.mr1{ margin-right: 1rem;}
.mr2{ margin-right: 2rem;}
.mr3{ margin-right: 3rem;}
.mr4{ margin-right: 4rem;}
.mr5{ margin-right: 5rem;}
.ml1{ margin-left: 1rem;}
.ml2{ margin-left: 2rem;}
.ml3{ margin-left: 3rem;}
.ml4{ margin-left: 4rem;}
.ml5{ margin-left: 5rem;}
.mb1{ margin-bottom: 1rem;}
.mb2{ margin-bottom: 2rem;}
.mb3{ margin-bottom: 3rem;}
.mb4{ margin-bottom: 4rem;}
.mb5{ margin-bottom: 5rem;}

.d-block{
  display: block;
}
button{
   background-color: none;
}

.btn{
    padding: 10px;
    border: 0;
    border-radius: 0;
    width: 120px;
    cursor: pointer;
    font-family: var(--main-font);
    font-size: 1rem;
    transition: background 100ms ease-in;
}

.btn:active,
.btn:focus{
    outline: 0;
}

.rounded{
    border-radius: 100vmax;
}


.btn-primary{ 
    background: var(--primary-color); 
    color: #fff;
    border:1px solid transparent;
}

.btn-primary:hover{ 
    background: var(--light-color);
}

.btn-secondary { 
    background: #fff;
    color:var(--primary-color); 
    border:1px solid var(--primary-color); 
}

.btn-secondary:hover{ 
    background: var(--light-color);
    color:#fff; 
    border:1px solid transparent;
}
.btn-outline{
  background:  var(--primary-color);
  border: 1px solid #fff;
  color: #fff;
}
.btn-outline:hover{ 
  background: var(--light-color);
  border: 1px solid transparent;
  color:#fff; 
}
.btn-light{ 
    background: var(--light-color); 
    color: #fff;
}


 .text_1 {
    animation: text1;
  }
  
  .text_2 {
    animation: text2;
  }
  
  .text_1, 
  .text_2 {
    top: 10px;
    padding-left: 5px;
    margin-left: 2px;
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
    position: relative;
    animation-duration: 8s;
    animation-timing-function: steps(30, end);
    animation-iteration-count: infinite;
  }
  .text_3{
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
    position: relative;
  }
  
  .text_1::after, 
  .text_2::after {
    content: "|";
    position: absolute;
    right: 0;
    animation: caret infinite;
    animation-duration: 0.6s;
    animation-timing-function: steps(2, end);
  }


  .center{
    display: grid;
    place-content: center;
    gap: 3px;
  }

  @keyframes text2 {
    0%, 50%, 100% {
      width: 0;
    }
    60%, 90% {
      width: 3.6em;
    }
  }
  
  @keyframes text1 {
    0%, 50%, 100% {
      width: 0em;
    }
    10%, 40% {
      width: 4.4em;
    }
  }
  
  @keyframes caret {
    0%, 100% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
  }


/* modal */


.closeBtn{ 
  float: right;
  cursor: pointer;
  font-size: 20px;
  color: #ccc;
}
.closeBtn:hover, 
.closeBtn:focus{
  color: #111;
}
.modal{
  display: none;
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
  overflow: auto;
  left: 0;
  top: 0;
  animation: modalAnimation;
  animation-duration: 0.5s;
  z-index: 999;
}

.modal-content{
  z-index: 999;
  margin: 15% auto;
  background: #fff;
  width: 50%;
  box-shadow: 0 5px 8px 0px rgba(0, 0, 0, 0.2),
              0 10px 10px 0px rgba(0, 0, 0, 0.1);
  
}

.modal-header span{
  font-size: 20px;
}
.modal-header{
  background: var(--secondary-color);
  color: #fff;
  padding: 10px;
}
.modal-body{
  padding: 10px;
}
.modal-footer{
  border-top: 1px solid #ccc3;
  background: cornflowerblue;
  padding: 10px;
  color: #fff;
  font-size: 12px;
}

.gradient-animation {
  background: linear-gradient(90deg, #12c2e9, #c471ed, #f64f59);
  background-size: 300%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: flow 8s ease-in-out infinite;
  font-weight: bolder;
}
@keyframes flow {
  0%{  background-position:  0 50%; }
  50%{ background-position:  100% 50%; }
  100%{ background-position:  0 50%; }
}



input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px #8c7eab inset !important;
}
.blurry__animate.xxl 
{
  --blurry-object-hw: 400px;
  left: 0;
}
.blurry__animate.xl 
{
  --blurry-object-hw: 300px;
  left: 0;
}
.blurry__animate.md{
  --blurry-object-hw: 150px;
  z-index: -9;
}

.blurry__animate{
  --blurry-object-hw: 250px;
  position: absolute;
  width: max-content;
  height: 40vh;
  top: 10rem;
  right: 25%;
}
@media (max-width: 900px) {
  .blurry__animate{
    --blurry-object-hw: 75px !important;
    top: inherit !important;
    bottom: 5rem !important;
    left: 0 !important;
    right: inherit !important;
  }
  .blurry__animate.xl{
    top: 15rem !important;
  }
}
.object1{
  position: absolute;
  width: var(--blurry-object-hw);
  height: var(--blurry-object-hw);
  border-radius: 50%;
  filter: var(--blurry-object-blur);
  background: rgb(252, 211, 77);
  mix-blend-mode: multiply;
  opacity: var(--blurry-object-opacity);
  top: 0;
  left: -1rem;
  /* animation: animate-blob 3s ease infinite alternate; */
}
.object2{
  position: absolute;
  width: var(--blurry-object-hw);
  height: var(--blurry-object-hw);
  border-radius: 50%;
  filter: var(--blurry-object-blur);
  background: rgb(249, 168, 212);
  mix-blend-mode: multiply;
  opacity: var(--blurry-object-opacity);
  top: 0;
  right: -1rem;
  /* animation: animate-blob 3s ease infinite alternate; */
  animation-delay: 2s;
}
.object3{
  position: absolute;
  width: var(--blurry-object-hw);
  height: var(--blurry-object-hw);
  border-radius: 50%;
  filter: var(--blurry-object-blur);
  background: rgb(196, 181, 253);
  left: 5rem;
  mix-blend-mode: multiply;
  opacity: var(--blurry-object-opacity);
  bottom: -8rem;
  /* animation: animate-blob 3s ease infinite alternate; */
  animation-delay: 4s;
}

@keyframes animate-blob{
  to{
    transform: scale(1.6);
  }
}